body{
    margin: 0;
    font-family: 'Arial', cursive, sans-serif;
    background-color: #dbdbdb;
    color: #333;
    line-height: 1.6;
  }

div.form-container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: 500;
}

input.submit-btn{
    background-color: #4CAF50;
    color: white;
    padding: 15px 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

input.submit-btn:hover{
    background-color: #45a049;
}
input.submit-btn:active{
    background-color: #327434;
    transform: translateY(3px);
}

input[type="text"]{
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 40%;
  padding: 5px;
  background-color: #f9f9f9;
  color: #333;
}